// Import font
@font-face {
    font-family: Gilroy;
    src: url("/assets/fonts/gilroy-regular.ttf");
}

@font-face {
    font-family: Gilroy;
    src: url("/assets/fonts/gilroy-medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: Gilroy;
    src: url("/assets/fonts/gilroy-bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: Gilroy;
    src: url("/assets/fonts/gilroy-heavy.ttf");
    font-weight: 800;
}

// Custom variables
$font-family-base: Gilroy, sans-serif;
$primary: #75bf7a;
$font-weight-bolder: 800;

// Import bootstrap
@import "bootstrap/scss/bootstrap";

.hero {
    min-height: calc(100vh - 106px);
}

form input,
form button {
    height: 50px;
}
